.flip-clock-window {
    background-color: black;
    display: inline-flex;
    border-radius: $flipclock-outer-border-radius;
    padding: $flipclock-outer-padding;
}

.flip-clock-segment {
    display: inline-block;
    color: transparent;
    position: relative;
}

.flip-clock-segment + .flip-clock-segment {
    margin-left: $flipclock-segment-gutter;
}

.flip-clock-segment.flip-clock-segment-12-hour {
    .ampm {
        position: absolute;
        &.am {
            top: $flipclock-am-top;
            transform: translateY(-50%);
            &::before {
                content: 'am';
            }
        }
        &.pm {
            bottom: $flipclock-pm-bottom;
            transform: translateY(50%);
            &::before {
                content: 'pm';
            }
        }
        text-transform: uppercase;
        font-size: $flipclock-ampm-font-size;
        text-align: left;
        left: $flipclock-ampm-left;
    }
    .flip-clock-segment-piece .numeric-value {
        position: relative;
        left: $flipclock-ampm-factor * 0.5em;
    }
}

.flip-clock-segment-piece {
    text-align: center;
    border-radius: $flipclock-inner-border-radius;;
    padding-left: $flipclock-inner-padding;
    padding-right: $flipclock-inner-padding;
    background-color: #111111;
    color: white;
    display: inline-block;
    width: 2ch;
    box-sizing: content-box;
}

.flip-clock-segment-piece:not(.flip-clock-segment-piece-top) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flip-clock-segment-hour        .flip-clock-segment-piece { width: 2ch; }
.flip-clock-segment-minute      .flip-clock-segment-piece { width: 2ch; }
.flip-clock-segment-second      .flip-clock-segment-piece { width: 2ch; }
.flip-clock-segment-day         .flip-clock-segment-piece { width: 2ch / $flipclock-date-size; }
.flip-clock-segment-month       .flip-clock-segment-piece { width: 2ch / $flipclock-date-size; }
.flip-clock-segment-date        .flip-clock-segment-piece { width: 2ch / $flipclock-date-size; }

.flip-clock.flip-clock-12-hour {
    .flip-clock-segment-hour .flip-clock-segment-piece {
        width: (1 + $flipclock-ampm-factor) * 2ch;
    }
    .flip-clock-segment-day  .flip-clock-segment-piece {
        width: (1 + $flipclock-ampm-factor) * 2ch / $flipclock-date-size;
    }
}

.flip-clock-segment-epoch-digit .flip-clock-segment-piece {
    width: 1ch;
}

.flip-clock-segment {
    @include flip-clock-segment-clip();
}

.flip-clock-segment::before {
}

.flip-clock-segment::after {
}

.flip-clock-segment-piece-flip-top,
.flip-clock-segment-piece-flip-bottom {
    display: none;
    transform: scaleY(0.75);
}

.flip-clock-segment[data-animation-frame="1"] {
    .flip-clock-segment-piece-flip-top {
        display: inline-block;
    }
}
.flip-clock-segment[data-animation-frame="2"] {
    .flip-clock-segment-piece-flip-bottom {
        display: inline-block;
    }
}
