.flip-clock-window {
    background-color: black;
    display: inline-flex;
    border-radius: 2rem;
    padding: 1rem;
}

.flip-clock-segment {
    display: inline-block;
    color: transparent;
    position: relative;
}

.flip-clock-segment + .flip-clock-segment {
    margin-left: 1rem;
}

.flip-clock-segment.flip-clock-segment-twelve-hour {
    .ampm {
        position: absolute;
        &.am {
            top: 25%;
            transform: translateY(-50%);
            &::before {
                content: 'am';
            }
        }
        &.pm {
            bottom: 25%;
            transform: translateY(50%);
            &::before {
                content: 'pm';
            }
        }
        text-transform: uppercase;
        font-size: 10%;
        text-align: left;
        left: 1rem;
    }
    .flip-clock-segment-piece .numeric-value {
        position: relative;
        left: 0.125em;
    }
}

.flip-clock-segment-piece {
    text-align: center;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #111111;
    color: white;
    display: inline-block;
    width: 2ch;
    box-sizing: content-box;
}

.flip-clock-segment-piece:not(.flip-clock-segment-piece-top) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flip-clock-segment-hour        .flip-clock-segment-piece { width: calc(2ch); }
.flip-clock-segment-twelve-hour .flip-clock-segment-piece { width: calc(2.5ch); }
.flip-clock-segment-minute      .flip-clock-segment-piece { width: calc(2ch); }
.flip-clock-segment-second      .flip-clock-segment-piece { width: calc(2ch); }
.flip-clock-segment-year        .flip-clock-segment-piece { width: calc(4ch); }
.flip-clock-segment-month       .flip-clock-segment-piece { width: calc(4ch); }
.flip-clock-segment-date        .flip-clock-segment-piece { width: calc(2ch); }
.flip-clock-segment-day         .flip-clock-segment-piece { width: calc(4ch); }
.flip-clock-segment-epoch-digit .flip-clock-segment-piece { width: calc(1ch); }

.flip-clock-date-line .flip-clock-segment-date .flip-clock-segment-piece { width: calc(4ch); }

.flip-clock-segment-piece-top,
.flip-clock-segment-piece-flip-top {
    clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%);
}

.flip-clock-segment-piece-bottom,
.flip-clock-segment-piece-flip-bottom {
    clip-path: polygon(0% calc(50% + 1px), 0% 100%, 100% 100%, 100% calc(50% + 1px));
}

.flip-clock-segment-piece-flip-top,
.flip-clock-segment-piece-flip-bottom {
    display: none;
    transform: scaleY(0.75);
}

.flip-clock-segment[data-animation-frame="1"] {
    .flip-clock-segment-piece-flip-top {
        display: inline-block;
    }
}
.flip-clock-segment[data-animation-frame="2"] {
    .flip-clock-segment-piece-flip-bottom {
        display: inline-block;
    }
}
