body.flip-clock-page {
    min-height: 100vh;
    overflow: hidden;
}

.flip-clock {
    color: $flip-clock-segment-foreground-color;
    font-family: $flip-clock-font-family;
    font-weight: $flip-clock-font-weight;
    font-style: $flip-clock-font-style;
}

.flip-clock-window {
    background-color: black;
    display: inline-flex;
    border-radius: $flip-clock-border-radius;
    padding: $flip-clock-window-padding;
}

.flip-clock-segment {
    display: inline-block;
    position: relative;
}

.flip-clock-segment.flip-clock-segment-12-hour {
    .ampm {
        position: absolute;
        &.am {
            top: $flip-clock-segment-ampm-position-top;
            transform: translateY(-50%);
            &::before {
                content: 'am';
            }
        }
        &.pm {
            bottom: $flip-clock-segment-ampm-position-bottom;
            transform: translateY(50%);
            &::before {
                content: 'pm';
            }
        }
        text-transform: uppercase;
        font-size: $flip-clock-ampm-font-size;
        text-align: left;
        left: $flip-clock-segment-ampm-position-left;
    }
    .flip-clock-segment-piece .numeric-value {
        position: relative;
        left: 0;
    }
}

.flip-clock-segment-piece {
    background-color: $flip-clock-segment-background-color;
    @at-root html:not(.molasses) & {
        background-image: $flip-clock-segment-background-gradient;
    }

    text-align: center;
    border-radius: $flip-clock-segment-border-radius;
    padding-left: $flip-clock-segment-horizontal-padding;
    padding-right: $flip-clock-segment-horizontal-padding;
    display: inline-block;
    width: 2ch;
    box-sizing: content-box;
}

.flip-clock-segment-piece:not(.flip-clock-segment-piece-top) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flip-clock-segment-hour        .flip-clock-segment-piece { width: 2ch; }
.flip-clock-segment-minute      .flip-clock-segment-piece { width: 2ch; }
.flip-clock-segment-second      .flip-clock-segment-piece { width: 2ch; }
.flip-clock-segment-day         .flip-clock-segment-piece { width: 2ch / $flip-clock-date-size; }
.flip-clock-segment-month       .flip-clock-segment-piece { width: 2ch / $flip-clock-date-size; }
.flip-clock-segment-date        .flip-clock-segment-piece { width: 2ch / $flip-clock-date-size; }

.flip-clock-segment-epoch-digit .flip-clock-segment-piece {
    width: 1ch;
}

.flip-clock-segment {
    @include flip-clock-segment-clip();
}

.flip-clock-segment::before {
}

.flip-clock-segment::after {
}

.flip-clock-segment-piece-flip-top,
.flip-clock-segment-piece-flip-bottom {
    display: none;
    transform: scaleY(0.75);
}

.flip-clock-segment[data-animation-frame="1"] {
    .flip-clock-segment-piece-flip-top {
        display: inline-block;
    }
}
.flip-clock-segment[data-animation-frame="2"] {
    .flip-clock-segment-piece-flip-bottom {
        display: inline-block;
    }
}
