/* center of screen layout */
.flip-clock {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 1;
}

/* vertical layout and sizing */
.flip-clock-line + .flip-clock-line {
    margin-top: #{$flip-clock-window-gutter};
}
.flip-clock-date-line {
    font-size: $flip-clock-font-size * $flip-clock-date-size;
}
.flip-clock-time-line {
    font-size: $flip-clock-font-size;
}
.flip-clock-epoch-line {
    font-size: $flip-clock-font-size * $flip-clock-epoch-size;
}

/* horizontal layout */
.flip-clock-line {
    margin: 0 auto;
}
.flip-clock-line-inner {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}

.flip-clock-window + .flip-clock-window {
    margin-left: $flip-clock-window-gutter;
}
.flip-clock-segment + .flip-clock-segment {
    margin-left: $flip-clock-segment-gutter;
}
