$flip-clock-window-padding:              1vw;
$flip-clock-segment-gutter:              1vw;
$flip-clock-window-gutter:               1vw;
$segment-border-radius:                  1vw;
$flip-clock-border-radius:               $segment-border-radius + $flip-clock-window-padding;
$segment-horizontal-padding:             0.05em;
$segment-ampm-position:                  0.2em;
$segment-fake-italic-horizontal-padding: 0.25em;
$background-color:                       #181818;
$segment-background-color:               #111111;
$segment-foreground-color:               #ffff66;
$font-family:                            "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-weight:                            normal;
$font-style:                             normal;
$transition-duration:                    300ms;
$rushed-transition-duration:             50ms;
$flip-clock-window-border-width:         0.25vw;

@supports (--foo: green) {
    :root {
        --flip-clock-window-padding:              #{$flip-clock-window-padding};
        --flip-clock-segment-gutter:              #{$flip-clock-segment-gutter};
        --flip-clock-window-gutter:               #{$flip-clock-window-gutter};
        --segment-border-radius:                  #{$segment-border-radius};
        --flip-clock-border-radius:               #{$flip-clock-border-radius};
        --segment-horizontal-padding:             #{$segment-horizontal-padding};
        --segment-ampm-position:                  #{$segment-ampm-position};
        --segment-fake-italic-horizontal-padding: #{$segment-fake-italic-horizontal-padding};
        --background-color:                       #{$background-color};
        --segment-background-color:               #{$segment-background-color};
        --segment-foreground-color:               #{$segment-foreground-color};
        --font-family:                            #{$font-family};
        --font-weight:                            #{$font-weight};
        --font-style:                             #{$font-style};
        --transition-duration:                    #{$transition-duration};
        --rushed-transition-duration:             #{$rushed-transition-duration};
        --flip-clock-window-border-width:         #{$flip-clock-window-border-width};
    }
    .flip-clock-date-window {
        --segment-horizontal-padding: 0.1em;
    }
    .flip-clock-epoch-window {
        --flip-clock-window-padding:      0.5vw;
        --flip-clock-segment-gutter:      0.5vw;
        --flip-clock-window-gutter:       0.5vw;
        --segment-border-radius:          0.5vw;
        --segment-horizontal-padding:     0.5vw;
        --flip-clock-border-radius:       1vw; /* --segment-border-radius + --flip-clock-window-padding */
        --flip-clock-window-border-width: 0.125vw;
    }
}

body {
    background-color: $background-color;
}
@supports (--foo: green) {
    body {
        background-color: var(--background-color);
    }
}

.flip-clock {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
}
@supports (--foo: green) {
    .flip-clock {
        font-family: var(--font-family);
        font-weight: var(--font-weight);
        font-style: var(--font-style);
    }
}

.flip-clock-line {
    color: $segment-foreground-color;
}
@supports (--foo: green) {
    .flip-clock-line {
        color: var(--segment-foreground-color);
    }
}

.flip-clock-line-inner > .flip-clock-window + .flip-clock-window {
    margin-left: $flip-clock-window-gutter;
}
@supports (--foo: green) {
    .flip-clock-line-inner > .flip-clock-window + .flip-clock-window {
        margin-left: var(--flip-clock-window-gutter);
    }
}

.flip-clock-window {
    border-radius: $flip-clock-border-radius;
    padding: $flip-clock-window-padding;
}
@supports (--foo: green) {
    .flip-clock-window {
        border-radius: var(--flip-clock-border-radius);
        padding: var(--flip-clock-window-padding);
    }
}

/* gussied-up */
.flip-clock-window {
    border-style: solid;
    border-width: #{$flip-clock-window-border-width} 0 #{$flip-clock-window-border-width} 0;
    border-color:
        rgba(0, 0, 0, 0.5) transparent rgba(255, 255, 255, 0.125) transparent;
    background-clip: padding-box;
}
@supports (--foo: green) {
    .flip-clock-window {
        border-width: var(--flip-clock-window-border-width) 0 var(--flip-clock-window-border-width) 0;
    }
}

.flip-clock-segment + .flip-clock-segment {
    margin-left: $flip-clock-segment-gutter;
}
@supports (--foo: green) {
    .flip-clock-segment + .flip-clock-segment {
        margin-left: var(--flip-clock-segment-gutter);
    }
}

.flip-clock-segment.flip-clock-segment-twelve-hour .ampm {
    left: $segment-ampm-position;
}
@supports (--foo: green) {
    .flip-clock-segment.flip-clock-segment-twelve-hour .ampm {
        left: var(--segment-ampm-position);
    }
}

.flip-clock-segment-inner::before {
    padding-left: $segment-horizontal-padding;
    padding-right: $segment-horizontal-padding;
}
@supports (--foo: green) {
    .flip-clock-segment-inner::before {
        padding-left: var(--segment-horizontal-padding);
        padding-right: var(--segment-horizontal-padding);
    }
}

.flip-clock-segment.flip-clock-segment-twelve-hour .flip-clock-segment-inner::before {
    content: "00";             /* extra room for 'am'/'pm' indicator */
    letter-spacing: 0.15em;
}

.flip-clock-segment-piece {
    border-radius: $segment-border-radius;
}
@supports (--foo: green) {
    .flip-clock-segment-piece {
        border-radius: var(--segment-border-radius);
    }
}

.flip-clock-segment-piece-top::after,
.flip-clock-segment-piece-flip-top::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.2) 50%
    );
}

.flip-clock-segment-piece-bottom::after,
.flip-clock-segment-piece-flip-bottom::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.2) 100%
    );
}

.flip-clock-segment-piece-inner {
    background-color: $segment-background-color;
    color: $segment-foreground-color;
    border-radius: $segment-border-radius;
    padding-left: $segment-horizontal-padding;
    padding-right: $segment-horizontal-padding;
}
@supports (--foo: green) {
    .flip-clock-segment-piece-inner {
        background-color: var(--segment-background-color);
        color: var(--segment-foreground-color);
        border-radius: var(--segment-border-radius);
        padding-left: var(--segment-horizontal-padding);
        padding-right: var(--segment-horizontal-padding);
    }
}

.flip-clock.with-fake-italic.with-font-style--italic  .flip-clock-segment-inner::before,
.flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment-inner::before {
    padding-right: $segment-fake-italic-horizontal-padding;
}
@supports (--foo: green) {
    .flip-clock.with-fake-italic.with-font-style--italic  .flip-clock-segment-inner::before,
    .flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment-inner::before {
        padding-right: var(--segment-fake-italic-horizontal-padding);
    }
}

.flip-clock.with-fake-italic.with-font-style--italic  .flip-clock-segment-piece-inner,
.flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment-piece-inner {
    padding-right: $segment-fake-italic-horizontal-padding;
}
@supports (--foo: green) {
    .flip-clock.with-fake-italic.with-font-style--italic  .flip-clock-segment-piece-inner,
    .flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment-piece-inner {
        padding-right: var(--segment-fake-italic-horizontal-padding);
    }
}
