$flip-clock-window-padding:                 1.5vw;
$flip-clock-segment-gutter:                 2vw;
$flip-clock-window-gutter:                  2vw;
$segment-border-radius:                     1vw;
$flip-clock-border-radius:                  $segment-border-radius + $flip-clock-window-padding;
$segment-horizontal-padding:                2vw;
$segment-horizontal-padding--date:          2vw;
$segment-ampm-position-left:                1vw;
$segment-ampm-position-top:                 20%; /* depends on the font */
$segment-ampm-position-bottom:              17.5%; /* depends on the font */
$background-color:                          #181818;
$segment-background-color:                  #111111;
$segment-foreground-color:                  #ffffff;
$font-family:                               'HelveticaNeue-CondensedBold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-weight:                               normal;
$font-style:                                normal;
$transition-duration:                       300ms;
$rushed-transition-duration:                50ms;
$flip-clock-window-border-width:            2px;
$flip-clock-segment-highlight-width:        2px;

$flip-clock-window-padding--epoch:          1vw;
$flip-clock-segment-gutter--epoch:          1vw;
$flip-clock-window-gutter--epoch:           1vw;
$segment-border-radius--epoch:              1vw;
$segment-horizontal-padding--epoch:         1vw;
$flip-clock-border-radius--epoch:           $segment-border-radius--epoch + $flip-clock-window-padding--epoch;
$flip-clock-window-border-width--epoch:     2px;
$flip-clock-segment-highlight-width--epoch: 2px;

$background-gradient: null;
$segment-background-gradient: null;
$segment-gradient-overlay: null;

$flip-clock-molasses-top-darken:    0.25;

$flip-clock-cylinder-width: 1vw;
$flip-clock-cylinder-height: 2vw;

$bottom-buttons-background-color: #181818;

$background-gradient: linear-gradient(
    to bottom,
    color-multiply($background-color, 1.5),
    color-multiply($background-color, 0.75)
);

/* does not darken text */
$segment-background-gradient: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(black, 0.25) 50%,
    transparent 50%,
    rgba(black, 0.25) 100%
);

/* this darkens text.  experiment tweaking this with segment-background-gradient. */
$segment-gradient-overlay: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(black, 0.25) 50%,
    transparent 50%,
    rgba(black, 0.25) 100%
);
