/* center of screen layout */
.flip-clock {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  line-height: 1; }

/* vertical layout and sizing */
.flip-clock-line + .flip-clock-line {
  margin-top: 1rem; }

.flip-clock-date-line {
  font-size: 6vw; }

.flip-clock-time-line {
  font-size: 18vw; }

.flip-clock-epoch-line {
  font-size: 6vw; }

/* horizontal layout */
.flip-clock-line {
  margin: 0 auto; }

.flip-clock-line-inner {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start; }

.flip-clock-line .flip-clock-window + .flip-clock-window {
  margin-left: 1rem; }

.flip-clock-window {
  background-color: black;
  display: inline-flex;
  border-radius: 2rem;
  padding: 1rem; }

.flip-clock-segment {
  display: inline-block;
  color: transparent;
  position: relative; }

.flip-clock-segment + .flip-clock-segment {
  margin-left: 1rem; }

.flip-clock-segment.flip-clock-segment-twelve-hour .ampm {
  position: absolute;
  bottom: 25%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  font-size: 25%;
  text-align: left;
  left: 1rem; }

.flip-clock-segment.flip-clock-segment-twelve-hour .flip-clock-segment-piece {
  text-align: right; }

.flip-clock-segment-piece {
  text-align: center;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #111111;
  color: white;
  display: inline-block;
  width: 2ch;
  box-sizing: content-box; }

.flip-clock-segment-piece:not(.flip-clock-segment-piece-top) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.flip-clock-segment-hour .flip-clock-segment-piece {
  width: calc(2ch); }

.flip-clock-segment-twelve-hour .flip-clock-segment-piece {
  width: calc(2.5ch); }

.flip-clock-segment-minute .flip-clock-segment-piece {
  width: calc(2ch); }

.flip-clock-segment-second .flip-clock-segment-piece {
  width: calc(2ch); }

.flip-clock-segment-year .flip-clock-segment-piece {
  width: calc(4ch); }

.flip-clock-segment-month .flip-clock-segment-piece {
  width: calc(4ch); }

.flip-clock-segment-date .flip-clock-segment-piece {
  width: calc(2ch); }

.flip-clock-segment-day .flip-clock-segment-piece {
  width: calc(4ch); }

.flip-clock-segment-epoch-digit .flip-clock-segment-piece {
  width: calc(1ch); }

.flip-clock-date-line .flip-clock-segment-date .flip-clock-segment-piece {
  width: calc(4ch); }

.flip-clock-segment-piece-top,
.flip-clock-segment-piece-flip-top {
  clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%);
  -webkit-clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%); }

.flip-clock-segment-piece-bottom,
.flip-clock-segment-piece-flip-bottom {
  clip-path: polygon(0% calc(50% + 1px), 0% 100%, 100% 100%, 100% calc(50% + 1px));
  -webkit-clip-path: polygon(0% calc(50% + 1px), 0% 100%, 100% 100%, 100% calc(50% + 1px)); }

.flip-clock-segment-piece-flip-top,
.flip-clock-segment-piece-flip-bottom {
  display: none;
  transform: scaleY(0.75);
  -webkit-transform: scaleY(0.75); }

@supports (--foo: green) {
  :root {
    --flip-clock-window-padding:              1vw;
    --flip-clock-segment-gutter:              1vw;
    --flip-clock-window-gutter:               1vw;
    --segment-border-radius:                  1vw;
    --flip-clock-border-radius:               2vw;
    --segment-horizontal-padding:             1vw;
    --segment-ampm-position:                  1vw;
    --segment-fake-italic-horizontal-padding: 0.25em;
    --background-color:                       #181818;
    --background-gradient:                    linear-gradient(to bottom, #242424, #121212);
    --segment-background-color:               #111111;
    --segment-background-gradient:            linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.25) 50%, transparent 50%, rgba(0, 0, 0, 0.25) 100%);
    --segment-foreground-color:               #ffff66;
    --font-family:                            HelveticaNeue-CondensedBold, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-weight:                            normal;
    --font-style:                             normal;
    --transition-duration:                    300ms;
    --rushed-transition-duration:             50ms;
    --flip-clock-window-border-width:         2px;
    --flip-clock-segment-highlight-width:     2px; }
  .flip-clock-date-window {
    --segment-horizontal-padding:             1vw; }
  .flip-clock-epoch-window {
    --flip-clock-window-padding:              1vw;
    --flip-clock-segment-gutter:              1vw;
    --flip-clock-window-gutter:               1vw;
    --segment-border-radius:                  1vw;
    --segment-horizontal-padding:             1vw;
    --flip-clock-border-radius:               2vw;
    --flip-clock-window-border-width:         2px;
    --flip-clock-segment-highlight-width:     2px; } }

body {
  background-color: #181818;
  background-image: linear-gradient(to bottom, #242424, #121212);
  min-height: 100vh;
  overflow: hidden; }
  @supports (--foo: green) {
    body {
      background-color: var(--background-color);
      background-image: var(--background-gradient); } }

.body-inner {
  background-image: url("images/grain.png");
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;
  overflow: hidden; }

/**
 * Overall styles
 */
.flip-clock {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal; }
  @supports (--foo: green) {
    .flip-clock {
      font-family: var(--font-family);
      font-weight: var(--font-weight);
      font-style: var(--font-style); } }

/**
 * Overall layout
 */
.flip-clock-line {
  color: #ffff66; }
  @supports (--foo: green) {
    .flip-clock-line {
      color: var(--segment-foreground-color); } }

.flip-clock-line + .flip-clock-line {
  margin-top: 1vw; }
  @supports (--foo: green) {
    .flip-clock-line + .flip-clock-line {
      margin-top: var(--flip-clock-window-gutter); } }

.flip-clock-line .flip-clock-window + .flip-clock-window {
  margin-left: 1vw; }
  @supports (--foo: green) {
    .flip-clock-line .flip-clock-window + .flip-clock-window {
      margin-left: var(--flip-clock-window-gutter); } }

/**
 * Viewmaster styles
 */
.flip-clock-window {
  border-radius: 2vw;
  padding: 1vw; }
  @supports (--foo: green) {
    .flip-clock-window {
      border-radius: var(--flip-clock-border-radius);
      padding: var(--flip-clock-window-padding); } }

/* "highlighting" simulacrum */
.flip-clock-window {
  border-style: solid;
  border-width: 0 0 2px 0;
  background-clip: padding-box;
  border-color: rgba(0, 0, 0, 0.5) transparent rgba(255, 255, 255, 0.125) transparent; }
  @supports (--foo: green) {
    .flip-clock-window {
      border-width: 0 0 var(--flip-clock-window-border-width) 0; } }

/**
 * Segment sizing and layout
 */
.flip-clock-segment + .flip-clock-segment {
  margin-left: 1vw; }
  @supports (--foo: green) {
    .flip-clock-segment + .flip-clock-segment {
      margin-left: var(--flip-clock-segment-gutter); } }

.flip-clock-segment.flip-clock-segment-twelve-hour .ampm {
  left: 1vw; }
  @supports (--foo: green) {
    .flip-clock-segment.flip-clock-segment-twelve-hour .ampm {
      left: var(--segment-ampm-position); } }

/**
 * Segment piece styles
 */
.flip-clock-segment-piece {
  background-color: #111111;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.25) 50%, transparent 50%, rgba(0, 0, 0, 0.25) 100%);
  color: #ffff66;
  border-radius: 1vw;
  padding-left: 1vw;
  padding-right: 1vw; }
  @supports (--foo: green) {
    .flip-clock-segment-piece {
      background-color: var(--segment-background-color);
      background-image: var(--segment-background-gradient);
      color: var(--segment-foreground-color);
      border-radius: var(--segment-border-radius);
      padding-left: var(--segment-horizontal-padding);
      padding-right: var(--segment-horizontal-padding); } }

/* "highlighting" simulacrum */
.flip-clock-segment-piece {
  border-style: solid;
  border-width: 2px 0 0 0;
  background-clip: padding-box;
  border-color: rgba(255, 255, 255, 0.25) transparent rgba(0, 0, 0, 0.5) transparent; }
  @supports (--foo: green) {
    .flip-clock-segment-piece {
      border-width: var(--flip-clock-segment-highlight-width) 0 0 0; } }

.flip-clock-segment-piece::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.25) 50%, transparent 50%, rgba(0, 0, 0, 0.25) 100%); }

/**
 * Styles required for fake italics.
 */
.flip-clock.with-fake-italic.with-font-style--italic .flip-clock-segment::before,
.flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment::before {
  padding-right: 0.25em; }
  @supports (--foo: green) {
    .flip-clock.with-fake-italic.with-font-style--italic .flip-clock-segment::before,
    .flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment::before {
      padding-right: var(--segment-fake-italic-horizontal-padding); } }

.flip-clock.with-fake-italic.with-font-style--italic .flip-clock-segment-piece-inner,
.flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment-piece-inner {
  padding-right: 0.25em; }
  @supports (--foo: green) {
    .flip-clock.with-fake-italic.with-font-style--italic .flip-clock-segment-piece-inner,
    .flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment-piece-inner {
      padding-right: var(--segment-fake-italic-horizontal-padding); } }

.bottom-buttons {
  position: fixed;
  bottom: 0.5rem;
  left: 1rem;
  right: 1rem;
  font-size: 2rem; }
  .bottom-buttons::after {
    content: '';
    clear: both; }

.bottom-left-buttons {
  float: left; }

.bottom-right-buttons {
  float: right; }

.bottom-left-buttons,
.bottom-right-buttons {
  color: white;
  opacity: 0.1; }

.bottom-left-buttons button,
.bottom-right-buttons button {
  color: inherit;
  text-shadow: 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.5); }

.css-reset {
  all: unset; }

[type="checkbox"].toggle-switch {
  width: 0;
  opacity: 0;
  display: none; }

[type="checkbox"].toggle-switch + :not([type="checkbox"]).toggle-switch::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f204';
  /* toggle-off */ }

[type="checkbox"]:checked.toggle-switch + :not([type="checkbox"]).toggle-switch::before {
  content: '\f205';
  /* toggle-on */ }

[type="checkbox"].audio-switch {
  width: 0;
  opacity: 0;
  display: none; }

[type="checkbox"].audio-switch + :not([type="checkbox"]).audio-switch::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f6a9';
  /* volume-mute */ }

[type="checkbox"]:checked.audio-switch + :not([type="checkbox"]).audio-switch::before {
  content: '\f028';
  /* volume-up */ }

.bottom-buttons label + label {
  margin-left: 0.5em; }
