@supports (--foo: green) {
    :root {
        --flip-clock-window-padding: 1vw;
        --flip-clock-gutter:         1vw;
        --segment-border-radius:     1vw;
        --flip-clock-border-radius:  2vw; /* --segment-border-radius + --flip-clock-window-padding */
        --segment-opacity-top:       0.80;
        --segment-opacity-bottom:    0.95;
        --segment-horizontal-padding:             calc(1em / 12 + 1vw);
        --segment-fake-italic-horizontal-padding: 0.25em;
        --background-color:         #333333;
        --segment-background-color: #333333;
        --segment-foreground-color: #ffff66;
        --font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        --font-weight:  normal;
        --font-style:   normal;
        /* --font-stretch: normal; */
        --transition-duration: 300ms;
        --rushed-transition-duration: 50ms;
    }
    .flip-clock-epoch-window {
        --flip-clock-window-padding:  0.5vw;
        --flip-clock-gutter:          0.5vw;
        --segment-border-radius:      0.5vw;
        --segment-horizontal-padding: 0.5vw;
        --flip-clock-border-radius:   1vw; /* --segment-border-radius + --flip-clock-window-padding */
    }
}

body {
    background-color: #333333;
}
@supports (--foo: green) {
    body {
        background-color: var(--background-color);
    }
}

.flip-clock {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-style: normal;
    /* font-stretch: normal; */

    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    transform:         translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    line-height: 1;
}
@supports (--foo: green) {
    .flip-clock {
        font-family:  var(--font-family);
        font-weight:  var(--font-weight);
        font-style:   var(--font-style);
        /* font-stretch: var(--font-stretch); */
    }
}

/* vertical layout and sizing */
.flip-clock-line + .flip-clock-line {
    margin-top: 1vw;
}
.flip-clock-date-line {
    font-size: 5vw;
}
.flip-clock-time-line {
    font-size: 15vw;
}
.flip-clock-epoch-line {
    font-size: 5vw;
}

/* horizontal layout */
.flip-clock-line {
    display: flex;
    justify-content: center;

    color: #ffff66;
}
@supports (--foo: green) {
    .flip-clock-line {
        color: var(--segment-foreground-color);
    }
}
.flip-clock-line .flip-clock-window:not(:first-child) {
    margin-left: 0.5vw;
}
.flip-clock-line .flip-clock-window:not(:last-child) {
    margin-right: 0.5vw;
}

.flip-clock-window {
    background-color: black;
    display: inline-flex;

    border-radius: 2vw;
    padding: 1vw;
}
@supports (--foo: green) {
    .flip-clock-window {
        border-radius: var(--flip-clock-border-radius);
        padding: var(--flip-clock-window-padding);
    }
}

.flip-clock-segment {
    display: inline-block;
    color: transparent;
}
.flip-clock-segment + .flip-clock-segment {
    margin-left: 1vw;
}
@supports (--foo: green) {
    .flip-clock-segment + .flip-clock-segment {
        margin-left: var(--flip-clock-gutter);
    }
}
.flip-clock-segment.flip-clock-segment-twelve-hour .ampm {
    position: absolute;
    bottom: 25%;
    transform:         translateY(50%);
    -webkit-transform: translateY(50%);
    font-size: 25%;
    text-align: left;

    left: calc(1em / 12 + 1vw);
}
@supports (--foo: green) {
    .flip-clock-segment.flip-clock-segment-twelve-hour .ampm {
        left: var(--segment-horizontal-padding);
    }
}
.flip-clock-segment.flip-clock-segment-twelve-hour .flip-clock-segment-piece,
.flip-clock-segment.flip-clock-segment-twelve-hour .flip-clock-segment-animated > .x-obverse,
.flip-clock-segment.flip-clock-segment-twelve-hour .flip-clock-segment-animated > .x-reverse {
    text-align: right;
}

.flip-clock-segment-inner {
    display: inline-block;
    position: relative;
}
@supports not (content: 'green') {
    .flip-clock-segment-inner {
        width: 2ch;
        height: 1em;
    }
}

@supports (content: 'green') {
    .flip-clock-segment-inner::before {
        content: "00";
        opacity: 0;
        -webkit-opacity: 0;
        padding-left: calc(1em / 12 + 1vw);
        padding-right: calc(1em / 12 + 1vw);
    }
}
@supports (--foo: green) and (content: 'green') {
    .flip-clock-segment-inner::before {
        padding-left: var(--segment-horizontal-padding);
        padding-right: var(--segment-horizontal-padding);
    }
}

@supports (content: 'green') {
    .flip-clock-segment.flip-clock-segment-twelve-hour .flip-clock-segment-inner::before {
        content: "00";             /* extra room for 'am'/'pm' indicator */
        letter-spacing: 0.1em;
    }
}
@supports not (content: 'green') {
    .flip-clock-segment.flip-clock-segment-twelve-hour .flip-clock-segment-inner::before {
        width: 2.2ch;
    }
}

@supports not (content: 'green') {
    .flip-clock-segment-hour        .flip-clock-segment-inner { width: 2ch; }
    .flip-clock-segment-minute      .flip-clock-segment-inner { width: 2ch; }
    .flip-clock-segment-second      .flip-clock-segment-inner { width: 2ch; }
    .flip-clock-segment-year        .flip-clock-segment-inner { width: 4ch; }
    .flip-clock-segment-month       .flip-clock-segment-inner { width: 5ch; }
    .flip-clock-segment-date        .flip-clock-segment-inner { width: 2ch; }
    .flip-clock-segment-day         .flip-clock-segment-inner { width: 5ch; }
    .flip-clock-segment-epoch-digit .flip-clock-segment-inner { width: 1ch; }
}
@supports (content: 'green') {
    .flip-clock-segment-hour        .flip-clock-segment-inner::before { content: '00'; }
    .flip-clock-segment-minute      .flip-clock-segment-inner::before { content: '00'; }
    .flip-clock-segment-second      .flip-clock-segment-inner::before { content: '00'; }
    .flip-clock-segment-year        .flip-clock-segment-inner::before { content: '0000'; }
    .flip-clock-segment-month       .flip-clock-segment-inner::before { content: 'XXXX'; }
    .flip-clock-segment-date        .flip-clock-segment-inner::before { content: '00'; }
    .flip-clock-segment-day         .flip-clock-segment-inner::before { content: 'XXXX'; }
    .flip-clock-segment-epoch-digit .flip-clock-segment-inner::before { content: '0'; }
}

.flip-clock-segment-piece {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;

    border-radius: 1vw;
}
@supports (--foo: green) {
    .flip-clock-segment-piece {
        border-radius: var(--segment-border-radius);
    }
}
.flip-clock-segment-animated > .x-obverse,
.flip-clock-segment-animated > .x-reverse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;

    border-radius: 1vw;
}
@supports (--foo: green) {
    .flip-clock-segment-animated > .x-obverse,
    .flip-clock-segment-animated > .x-reverse {
        border-radius: var(--segment-border-radius);
    }
}

.flip-clock-segment-piece-top,
.flip-clock-segment-piece-flip-top {
    clip-path:         polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%);
    -webkit-clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%);
}

.flip-clock-segment-piece-bottom,
.flip-clock-segment-piece-flip-bottom {
    clip-path:         polygon(0% calc(50% + 1px), 0% 100%, 100% 100%, 100% calc(50% + 1px));
    -webkit-clip-path: polygon(0% calc(50% + 1px), 0% 100%, 100% 100%, 100% calc(50% + 1px));
}

.flip-clock-segment-piece-flip-top,
.flip-clock-segment-piece-flip-bottom {
    display: none;
    transform:         scaleY(0.75);
    -webkit-transform: scaleY(0.75);
}

.flip-clock-segment-piece-inner,
.flip-clock-segment-animated > .x-obverse > .x-inner,
.flip-clock-segment-animated > .x-reverse > .x-inner {
    display: inline-block;
    width: 100%;
    background-color: #333333;
    color: #ffff66;
    border-radius: 1vw;
    padding-left: calc(1em / 12 + 1vw);
    padding-right: calc(1em / 12 + 1vw);
}
@supports (--foo: green) {
    .flip-clock-segment-piece-inner,
    .flip-clock-segment-animated > .x-obverse > .x-inner,
    .flip-clock-segment-animated > .x-reverse > .x-inner {
        background-color: var(--segment-background-color);
        color: var(--segment-foreground-color);
        border-radius: var(--segment-border-radius);
        padding-left: var(--segment-horizontal-padding);
        padding-right: var(--segment-horizontal-padding);
    }
}

.flip-clock-segment-piece-top-inner,
.flip-clock-segment-piece-flip-top-inner,
.flip-clock-segment-animated > .x-obverse > .x-inner {
    opacity: 0.80;
    -webkit-opacity: 0.80;
}
@supports (--foo: green) {
    .flip-clock-segment-piece-top-inner,
    .flip-clock-segment-piece-flip-top-inner,
    .flip-clock-segment-animated > .x-obverse > .x-inner {
        opacity: var(--segment-opacity-top);
        -webkit-opacity: var(--segment-opacity-top);
    }
}
.flip-clock-segment-piece-bottom-inner,
.flip-clock-segment-piece-flip-bottom-inner,
.flip-clock-segment-animated > .x-reverse > .x-inner {
    opacity: 0.95;
    -webkit-opacity: 0.95;
}
@supports (--foo: green) {
    .flip-clock-segment-piece-bottom-inner,
    .flip-clock-segment-piece-flip-bottom-inner,
    .flip-clock-segment-animated > .x-reverse > .x-inner {
        opacity: var(--segment-opacity-bottom);
        -webkit-opacity: var(--segment-opacity-bottom);
    }
}

.flip-clock-segment-animated {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    opacity: 0;
    -webkit-opacity: 0;
    z-index: 1;
}
.flip-clock-segment-animated.x-visible {
    opacity: 1;
    -webkit-opacity: 1;
}
.flip-clock-segment-animated > .x-obverse,
.flip-clock-segment-animated > .x-reverse {
    backface-visibility:         hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.flip-clock-segment-animated > .x-obverse {
    transform:         rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    clip-path:         polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%);
    -webkit-clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%);
}
.flip-clock-segment-animated > .x-reverse {
    transform:         rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    clip-path:         polygon(0% calc(50% + 1px), 0% 100%, 100% 100%, 100% calc(50% + 1px));
    -webkit-clip-path: polygon(0% calc(50% + 1px), 0% 100%, 100% 100%, 100% calc(50% + 1px));
}

.flip-clock-segment-animated.x-down:not(.x-rushed) > .x-obverse,
.flip-clock-segment-animated.x-down:not(.x-rushed) > .x-reverse {
    transition:         transform 150ms ease-in;
    -webkit-transition: transform 150ms ease-in;
}
@supports (--foo: green) {
    .flip-clock-segment-animated.x-down:not(.x-rushed) > .x-obverse,
    .flip-clock-segment-animated.x-down:not(.x-rushed) > .x-reverse {
        transition:         transform var(--transition-duration) ease-in;
        -webkit-transition: transform var(--transition-duration) ease-in;
    }
}

.flip-clock-segment-animated.x-down.x-rushed > .x-obverse,
.flip-clock-segment-animated.x-down.x-rushed > .x-reverse {
    transition:         transform 50ms ease-in;
    -webkit-transition: transform 50ms ease-in;
}
@supports (--foo: green) {
    .flip-clock-segment-animated.x-down.x-rushed > .x-obverse,
    .flip-clock-segment-animated.x-down.x-rushed > .x-reverse {
        transition:         transform var(--rushed-transition-duration) ease-in;
        -webkit-transition: transform var(--rushed-transition-duration) ease-in;
    }
}

.flip-clock-segment-animated.x-down > .x-obverse {
    transform:         rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}
.flip-clock-segment-animated.x-down > .x-reverse {
    transform:         rotateX(360deg);
    -webkit-transform: rotateX(360deg);
}

@supports (content: 'green') {
    .flip-clock.with-fake-italic.with-font-style--italic  .flip-clock-segment-inner::before,
    .flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment-inner::before {
        padding-right: 0.25em;
    }
    @supports (--foo: green) {
        .flip-clock.with-fake-italic.with-font-style--italic  .flip-clock-segment-inner::before,
        .flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment-inner::before {
            padding-right: var(--segment-fake-italic-horizontal-padding);
        }
    }
}

.flip-clock.with-fake-italic.with-font-style--italic  .flip-clock-segment-piece-inner,
.flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment-piece-inner {
    padding-right: calc(1em / 6);
}
@supports (--foo: green) {
    .flip-clock.with-fake-italic.with-font-style--italic  .flip-clock-segment-piece-inner,
    .flip-clock.with-fake-italic.with-font-style--oblique .flip-clock-segment-piece-inner {
        padding-right: var(--segment-fake-italic-horizontal-padding);
    }
}

.bottom-left-buttons {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 2rem;
}
.bottom-right-buttons {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
}
.bottom-left-buttons,
.bottom-right-buttons {
    color: white;
}
.bottom-left-buttons button,
.bottom-right-buttons button {
    color: inherit;
    text-shadow:         .125em .125em .125em rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: .125em .125em .125em rgba(0, 0, 0, 0.5);
}
