$flip-clock-window-padding:  1vw;
$flip-clock-gutter:          1vw;

$segment-border-radius:      1vw;
$segment-opacity-top:        80%;
$segment-opacity-bottom:     95%;
$segment-horizontal-padding: 1vw;

$background-color:         #333333;
$segment-background-color: #333333;
$segment-foreground-color: #ffff66;

$font-family:              "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-weight:              normal;
$font-style:               normal;

:root {
    --background-color:         #{$background-color};
    --segment-background-color: #{$segment-background-color};
    --segment-foreground-color: #{$segment-foreground-color};
    --font-family:              #{$font-family};
    --font-weight:              #{$font-weight};
    --font-style:               #{$font-style};
}

#flip-clock {
    font-family: $font-family;
    font-family: var(--font-family);
    font-weight: $font-weight;
    font-weight: var(--font-weight);
    font-style: $font-style;
    font-style: var(--font-style);
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 1;
}
#flip-clock .flip-clock-date-window {
    font-size: 5vw;
    margin-bottom: 1vw;
}
#flip-clock .flip-clock-time-window {
    font-size: 15vw;
}
body {
    background-color: $background-color;
    background-color: var(--background-color);
}
.flip-clock {
}
.flip-clock-window {
    background-color: black;
    border-radius: calc(#{$segment-border-radius} + #{$flip-clock-window-padding});
    display: inline-flex;
    padding: $flip-clock-window-padding;
}
.segment + .segment {
    margin-left: $flip-clock-gutter;
}
.segment {
    display: inline-block;
}
.segment-inner {
    display: inline-block;
    position: relative;
    &:before {
        content: "00";
        padding-left: $segment-horizontal-padding;
        padding-right: $segment-horizontal-padding;
    }
}

.segment-hour   .segment-inner::before { content: '00'; }
.segment-minute .segment-inner::before { content: '00'; }
.segment-second .segment-inner::before { content: '00'; }
.segment-year   .segment-inner::before { content: '0000'; }
.segment-month  .segment-inner::before { content: 'MAR'; }
.segment-date   .segment-inner::before { content: '00'; }
.segment-day    .segment-inner::before { content: 'WED'; }

.segment-top {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: inline-block;
    text-align: center;
    clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%);
    background-color: black;
    border-radius: $segment-border-radius;
}
.segment-bottom {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: inline-block;
    text-align: center;
    clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%);
    background-color: black;
    border-radius: $segment-border-radius;
}
.segment-flip11 {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    text-align: center;
    clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 50%);
    display: none;
    -webkit-transform: scaleY(0.75);
    transform: scaleY(0.75);
    background-color: black;
    border-radius: $segment-border-radius;
}
.segment-flip22 {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    text-align: center;
    clip-path: polygon(0% 50%, 0% 100%, 100% 100%, 100% 50%);
    display: none;
    -webkit-transform: scaleY(0.75);
    transform: scaleY(0.75);
    background-color: black;
    border-radius: $segment-border-radius;
}

.segment-top-inner {
    display: inline-block;
    width: 100%;
    background-color: $segment-background-color;
    background-color: var(--segment-background-color);
    color: $segment-foreground-color;
    color: var(--segment-foreground-color);
    opacity: $segment-opacity-top;
    border-radius: $segment-border-radius;
}
.segment-bottom-inner {
    display: inline-block;
    width: 100%;
    background-color: $segment-background-color;
    background-color: var(--segment-background-color);
    color: $segment-foreground-color;
    color: var(--segment-foreground-color);
    opacity: $segment-opacity-bottom;
    border-radius: $segment-border-radius;
}
.segment-flip11-inner {
    display: inline-block;
    width: 100%;
    background-color: $segment-background-color;
    background-color: var(--segment-background-color);
    color: $segment-foreground-color;
    color: var(--segment-foreground-color);
    opacity: $segment-opacity-top;
    border-radius: $segment-border-radius;
}
.segment-flip22-inner {
    display: inline-block;
    width: 100%;
    background-color: $segment-background-color;
    background-color: var(--segment-background-color);
    color: $segment-foreground-color;
    color: var(--segment-foreground-color);
    opacity: $segment-opacity-bottom;
    border-radius: $segment-border-radius;
}

.settings-button {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
}
